# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: ci-test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    # Service containers to run with `container-job`
    # the following block refers from https://docs.github.com/en/actions/tutorials/use-containerized-services/create-postgresql-service-containers
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:17-alpine3.21
        # Provide the password for postgres
        env:
          POSTGRES_USER: root
          POSTGRES_DB: simple_bank
          POSTGRES_PASSWORD: secret # this is same password as in the Makefile
        # Set health checks to wait until postgres has started, this is required before the test can run
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.2'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: DB Migration
      run: make migrateup

    - name: Test
      run: make test
